/* default */

/* types */
.btn-outline {
  @apply bg-transparent border hover:text-white
}
.btn-soft {
    @apply hover:text-white
}


/* sizes */


.btn-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.btn-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

/* colors */
/* type default */
.btn-primary {
    @apply bg-brands-primary;
}
.btn-secondary {
    @apply bg-brands-secondary;
}
.btn-tertiary {
    @apply bg-brands-tertiary;
}
.btn-red {
    @apply bg-accents-red;
}
.btn-blue {
    @apply bg-accents-blue;
}
.btn-purple {
    @apply bg-accents-purple;
}
.btn-yellow {
    @apply bg-accents-yellow;
}
.btn-green {
    @apply bg-accents-green;
}
/* color type outline */
.btn-outline-primary {
    @apply border-brands-primary text-brands-primary hover:bg-brands-primary;
}
.btn-outline-secondary {
    @apply border-brands-secondary text-brands-secondary hover:bg-brands-secondary;
}
.btn-outline-tertiary {
    @apply border-brands-tertiary text-brands-tertiary hover:bg-brands-tertiary;
}
.btn-outline-yellow {
    @apply border-accents-yellow text-accents-yellow hover:bg-accents-yellow;
}
.btn-outline-green {
    @apply border-accents-green text-accents-green hover:bg-accents-green;
}
.btn-outline-red {
    @apply border-accents-red text-accents-red hover:bg-accents-red;
}
.btn-outline-blue {
    @apply border-accents-blue text-accents-blue hover:bg-accents-blue;
}
.btn-outline-purple {
    @apply border-accents-purple text-accents-purple hover:bg-accents-purple;
}
.btn-outline-black {
    @apply border-accents-black text-accents-black hover:bg-accents-black;
}
/* color type soft */
.btn-soft-primary {
    @apply bg-brands-primary/25 text-brands-primary hover:bg-brands-primary
}
.btn-soft-secondary {
    @apply bg-brands-secondary/25 text-brands-secondary hover:bg-brands-secondary
}
.btn-soft-tertiary {
    @apply bg-brands-tertiary/25 text-brands-tertiary hover:bg-brands-tertiary
}
.btn-soft-tertiary {
    @apply bg-brands-tertiary/25 text-brands-tertiary hover:bg-brands-tertiary
}
.btn-soft-yellow {
    @apply bg-accents-yellow/25 text-accents-yellow hover:bg-accents-yellow
}
.btn-soft-green {
    @apply bg-accents-green/25 text-accents-green hover:bg-accents-green
}
.btn-soft-red {
    @apply bg-accents-red/25 text-accents-red hover:bg-accents-red
}
.btn-soft-blue {
    @apply bg-accents-blue/25 text-accents-blue hover:bg-accents-blue
}
.btn-soft-purple {
    @apply bg-accents-purple/25 text-accents-purple hover:bg-accents-purple
}
.btn-soft-black {
    @apply bg-accents-black/25 text-accents-black hover:bg-accents-black
}

